:root {
  color-scheme: light dark;
}
body {
  color: CanvasText;
  background-color: Canvas;
}

.container {
  display: flex;
  width: 300px;
  height: 300px;
  font-family: monospace;
  flex-direction: column;

  gap: 12px;
  position: relative;
}
